body {
    background-image: linear-gradient(
        0,
        #120c56,
        #000000   
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section{
    text-align: center;
}

main > section  img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

main > section  img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

main > section button {
    background-color: #0000CD;
    border: none;
    border-radius: 50px;
    color: white;
    font-family: EuclidBold;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 15px;
    padding: 9px 23px;
    text-transform: uppercase;
}

#coluna {
    float: left;
    width: 33.33%;
}

#linha::after {
    content: " ";
    clear: both;
    display: table;
}

#detalhes-container{
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container > li {
    align-items: baseline;
    color: white;
    display: flex;
}

#detalhes-container > li p {
    color: white;
}